.add_btn{
    width:70px;
    height:30px;
    background: pink;
    border-radius: 10px;

}
input{
    width:250px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 30px;
    background: transparent;
    outline: none;
}
